<ion-view ng-controller="MainController" cache-view="false">
  <ion-side-menus>
    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Views</h1>
        <!-- Add button. -->
        <button class="button button-clear"
                ng-click="main.customizeViews()">
          <i class="icon ion-more"></i>
        </button>
      </ion-header-bar>
      <ion-content scroll="true">
        <ion-list>
          <ion-item ng-repeat="view in main.allViews" ng-click="main.setView(view)"
                    ng-class="{active: main.currentView == view}" menu-close>
            <h2>{{view.title}}</h2>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

    <!-- Main content -->
    <ion-side-menu-content>

      <!-- Header bar -->
      <ion-header-bar class="bar-stable">
        <div class="buttons">
          <button class="button button-icon icon ion-navicon-round" ng-click="main.toggleLeftMenu()"></button>
        </div>

        <h1 class="title">{{main.currentView.title}}</h1>

        <div class="buttons">
          <!-- Debug menu button. -->
          <button class="button button-icon icon button-clear button-assertive ion-hammer"
                  ng-click="main.openDebugMenu()"></button>

          <!-- Add button. -->
          <button class="button button-icon icon button-clear button-balanced ion-android-add"
                  ng-click="main.editTask(null)"></button>
        </div>
      </ion-header-bar>

      <!-- Main area -->
      <ion-content scroll="true">

        <!-- List of tasks -->
        <ion-list>
          <!-- Task -->
          <ion-item class="item item-button-left item-remove-animate" ng-repeat="task in main.currentViewTasks">
            <!-- Greyed checkmark for incomplete tasks -->
            <button class="button button-outline button-stable" ng-click="main.toggleCompleted(task)"
                    ng-if="!task.completed">
              <i class="icon ion-checkmark"></i>
            </button>

            <!-- Green checkmark for complete tasks -->
            <button class="button button-outline button-balanced" ng-click="main.toggleCompleted(task)"
                    ng-if="task.completed">
              <i class="icon ion-checkmark"></i>
            </button>

            <div ng-click="main.editTask(task.taskId)">
              <!-- Task title -->
              {{task.title}}

              <span class="item-note" ng-if="task.dueDate !== null">
                <!-- Overdue icon -->
                <i class="icon ion-alert assertive" ng-if="main.isOverdue(task)"></i>

                <!-- Due date note -->
                {{task.dueDate | date}}
              </span>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu-content>
  </ion-side-menus>
</ion-view>
