<!-- Header bar -->
<ion-view title="Task" ng-controller="TaskDetailController" cache-view="false">
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-chevron-left" ng-click="taskDetail.back()">
    </button>
    <h1 class="title">{{taskDetail.getTitle()}}</h1>
  </ion-header-bar>

  <!-- Content -->
  <ion-content>
    <ion-list>
      <!-- Task name input field. -->
      <label class="item item-input">
        <input id="titleField" type="text" ng-model="taskDetail.task.title" placeholder="Task Title"/>
      </label>

      <!-- Greyed checkmark for incomplete tasks -->
      <label class="item item-button-left" ng-if="!taskDetail.task.completed">
        <button class="button button-outline button-stable custom-checkbox" ng-click="taskDetail.toggleCompleted()">
          <i class="icon ion-checkmark"></i>

        </button>
        Not Complete
      </label>

      <!-- Green checkmark for complete tasks -->
      <label class="item item-button-left" ng-if="taskDetail.task.completed">
        <button class="button button-outline button-balanced custom-checkbox" ng-click="taskDetail.toggleCompleted()">
          <i class="icon ion-checkmark"></i>
        </button>

        Complete
      </label>

      <!-- Creation date, last edited date, and completion date if it exists. -->
      <li class="item unimportant-text">
        Created: {{taskDetail.task.creationDate | date : "MM/dd/yyyy 'at' h:mm:ssa"}}
        <br/>
        Last Edited: {{taskDetail.task.editDate | date : "MM/dd/yyyy 'at' h:mm:ssa"}}
        <br/>
        Completed: {{taskDetail.task.completionDate === null ? "n/a" :
                     taskDetail.task.completionDate | date : "MM/dd/yyyy 'at' h:mm:ssa"}}
      </li>

      <!-- Due Date. -->
      <label class="item item-input">
        <span class="input-label">Due Date:</span>
        <input type="date" ng-model="taskDetail.task.dueDate"/>
      </label>

      <!-- Tags -->
      <label class="item item-input">
        <span class="input-label">Tags:</span>
        <input type="text" ng-model="taskDetail.tagsString" placeholder="Space-separated tags"/>
      </label>
    </ion-list>

    <!-- Subtasks list -->
    <ion-list>
      <!-- Subtasks header bar. -->
      <div class="item item-button-right stable-bg big-list-divider">
        Subtasks

        <!-- Add button. -->
        <button class="button button-clear button-balanced"
                ng-click="taskDetail.addSubtask()">
          <i class="icon ion-android-add"></i>
        </button>
      </div>

      <!-- Subtask list. -->
      <ion-item class="item item-input item-remove-animate" ng-repeat="subtask in taskDetail.task.subtasks">
        <!-- Greyed checkmark for incomplete subtasks -->
        <button class="button button-outline button-stable custom-checkbox"
                ng-click="taskDetail.toggleSubtask(subtask)" ng-if="!subtask.completed">
          <i class="icon ion-checkmark"></i>
        </button>

        <!-- Green checkmark for complete subtasks -->
        <button class="button button-outline button-balanced custom-checkbox"
                ng-click="taskDetail.toggleSubtask(subtask)" ng-if="subtask.completed">
          <i class="icon ion-checkmark"></i>
        </button>

        <!-- Text field for subtasks. -->
        <input type="text" ng-model="subtask.title" placeholder="Subtask"/>

        <!-- Delete button. -->
        <button class="button button-clear button-assertive custom-checkbox"
                ng-click="taskDetail.deleteSubtask(subtask)">
          <i class="icon ion-android-delete"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
