<ion-view ng-controller="ViewDetailController" cache-view="false">
  <!-- Header bar -->
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-chevron-left" ng-click="viewDetail.back()"></button>
    <h1 class="title">{{viewDetail.view.title}}</h1>
  </ion-header-bar>

  <!-- Main area -->
  <ion-content scroll="true">
    <ion-list>
      <!-- View name input field. -->
      <label class="item item-input">
        <input id="titleField" type="text" ng-model="viewDetail.view.title" placeholder="View Title"/>
      </label>

      <!-- Search parameters header bar. -->
      <div class="item item-button-right stable-bg big-list-divider">
        Search Parameters

        <!-- Add button. -->
        <button class="button button-clear button-balanced"
                ng-click="viewDetail.editSearchParameter(null)">
          <i class="icon ion-android-add"></i>
        </button>
      </div>

      <!-- Search parameters -->
      <ion-item class="item item-button-right item-remove-animate"
                ng-repeat="parameter in viewDetail.view.searchParameters"
                ng-click="viewDetail.editSearchParameter(parameter)">
        <!-- Parameter description -->
        {{parameter.description()}}

        <!-- Delete button. -->
        <button class="button button-clear button-assertive"
                ng-click="viewDetail.deleteSearchParameter(parameter)">
          <i class="icon ion-android-delete"></i>
        </button>
      </ion-item>

      <!-- Sort parameters header bar. -->
      <div class="item item-button-right stable-bg big-list-divider">
        Sort Parameters

        <!-- Add button. -->
        <button class="button button-clear button-balanced"
                ng-click="viewDetail.editSortParameter(null)">
          <i class="icon ion-android-add"></i>
        </button>
      </div>

      <!-- Sort parameters -->
      <ion-item class="item item-button-right item-remove-animate"
                ng-repeat="parameter in viewDetail.view.sortParameters"
                ng-click="viewDetail.editSortParameter(parameter)">
        <!-- Parameter title -->
        {{parameter.description()}}

        <!-- Delete button. -->
        <button class="button button-clear button-assertive"
                ng-click="viewDetail.deleteSortParameter(parameter)">
          <i class="icon ion-android-delete"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<script id="search-param-modal.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Search Parameter</h1>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
      <div class="list">

        <!-- Field selector -->
        <label class="item item-input item-select">
          <div class="label">
            Field
          </div>
          <select ng-model="viewDetail.field">
            <option value="title">Title</option>
            <option value="completed">Completed</option>
            <option value="subtasks">Subtasks</option>
            <option value="tags">Tags</option>
            <option value="creationDate">Creation Date</option>
            <option value="editDate">Edit Date</option>
            <option value="completionDate">Completion Date</option>
            <option value="dueDate">Due Date</option>
          </select>
        </label>



        <!-- Comparator selector for date fields -->
        <label class="item item-input item-select"
               ng-if="viewDetail.fieldType() === 'Date'">
          <div class="label">
            Requirement
          </div>
          <select ng-model="viewDetail.comparator">
            <option value="isSet" ng-if="viewDetail.fieldCanBeNull()">Is set</option>
            <option value="isNotSet"  ng-if="viewDetail.fieldCanBeNull()">Is not set</option>
            <option value="on">On</option>
            <option value="notOn">Not on</option>
            <option value="before">Before</option>
            <option value="onBefore">On or before</option>
            <option value="after">After</option>
            <option value="onAfter">On or after</option>
          </select>
        </label>

        <!-- Comparator selector for boolean fields -->
        <label class="item item-input item-select"
               ng-if="viewDetail.fieldType() === 'boolean'">
          <div class="label">
            Requirement
          </div>
          <select ng-model="viewDetail.comparator">
            <option value="isTrue">Yes</option>
            <option value="isFalse">No</option>
          </select>
        </label>

        <!-- Comparator selector for string fields -->
        <label class="item item-input item-select"
               ng-if="viewDetail.fieldType() === 'string'">
          <div class="label">
            Requirement
          </div>
          <select ng-model="viewDetail.comparator">
            <option value="stringEquals">Equals</option>
            <option value="stringNotEquals">Does not equal</option>
            <option value="stringContains">Contains</option>
            <option value="stringNotContains">Does not contain</option>
          </select>
        </label>

        <!-- Comparator selector for array fields -->
        <label class="item item-input item-select"
               ng-if="viewDetail.fieldType() === 'Array'">
          <div class="label">
            Requirement
          </div>
          <select ng-model="viewDetail.comparator">
            <option value="arrayIncludes">Include</option>
            <option value="arrayNotIncludes">Does not include</option>
            <option value="arrayLengthEquals">Number equals</option>
            <option value="arrayLengthNotEquals">Number not equals</option>
            <option value="arrayLengthLessThan">Number less than</option>
            <option value="arrayLengthLessThanEqual">Number less than or equals</option>
            <option value="arrayLengthGreaterThan">Number greater than</option>
            <option value="arrayLengthGreaterThanEqual">Number greater than or equals</option>
          </select>
        </label>



        <!-- Selector for date type -->
        <label class="item item-input item-select"
               ng-if="viewDetail.valueType() === 'Date'">
          <div class="label">
            Date type:
          </div>
          <select ng-model="viewDetail.dateType">
            <option value="specificDate">Specific Date</option>
            <option value="relativeDay">Relative to today</option>
            <option value="relativeWeek">Relative to last Sunday</option>
            <option value="relativeMonth">Relative to the 1st of this month</option>
            <option value="relativeYear">Relative to the January 1st of this year</option>
          </select>
        </label>

        <!-- Input for specific date value -->
        <label class="item item-input"
               ng-if="viewDetail.valueType() === 'Date' && viewDetail.dateType === 'specificDate'">
          <span class="input-label">Due Date:</span>
          <input type="date" style="text-align:right" ng-model="viewDetail.dateValue"/>
        </label>

        <!-- Input for relative date offset -->
        <label class="item item-input"
               ng-if="viewDetail.valueType() === 'Date' &&
               viewDetail.dateType !== 'specificDate' && viewDetail.dateType !== null">
          <span class="input-label">Offset in days:</span>
          <input type="text" style="text-align:right" ng-model="viewDetail.stringValue">
        </label>

        <!-- Input for string and number values -->
        <label class="item item-input"
               ng-if="viewDetail.valueType() === 'string' || viewDetail.valueType() === 'number'">
          <span class="input-label">Value:</span>
          <input type="text" style="text-align:right" ng-model="viewDetail.stringValue">
        </label>

        <li class="item assertive" ng-if="viewDetail.errorMessage !== ''">{{viewDetail.errorMessage}}</li>
      </div>
      <div class="padding" align="right">
        <button ng-click="viewDetail.commitSearchParameter()" class="button button-balanced">Confirm</button>
        <button ng-click="viewDetail.closeSearchParameterModal()" class="button">Cancel</button>
      </div>
    </ion-content>
  </div>
</script>

<script id="sort-param-modal.html" type="text/ng-template">
  <div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Search Parameter</h1>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
      <div class="list">

        <!-- Field selector -->
        <label class="item item-input item-select">
          <div class="label">
            Field
          </div>
          <select ng-model="viewDetail.field">
            <option value="title">Title</option>
            <option value="subtasksLength">Number of Subtasks</option>
            <option value="completed">Completed</option>
            <option value="creationDate">Creation Date</option>
            <option value="editDate">Edit Date</option>
            <option value="completionDate">Completion Date</option>
            <option value="dueDate">Due Date</option>
          </select>
        </label>

        <!-- Order selector -->
        <label class="item item-checkbox">
          <div class="checkbox">
            <input ng-model="viewDetail.ascending" type="checkbox">
          </div>
          Ascending
        </label>

        <!-- Null treatment selector -->
        <label class="item item-checkbox" ng-if="viewDetail.fieldCanBeNull()">
          <div class="checkbox">
            <input ng-model="viewDetail.nullFirst" type="checkbox">
          </div>
          Blanks at top of list
        </label>

        <li class="item assertive" ng-if="viewDetail.errorMessage !== ''">{{viewDetail.errorMessage}}</li>
      </div>
      <div class="padding" align="right">
        <button ng-click="viewDetail.commitSortParameter()" class="button button-balanced">Confirm</button>
        <button ng-click="viewDetail.closeSortParameterModal()" class="button">Cancel</button>
      </div>
    </ion-content>
  </div>
</script>
