<ion-view ng-controller="MainController" cache-view="false">
  <!-- Header bar -->
  <ion-header-bar class="bar-stable">
    <button class="button button-icon icon ion-chevron-left" ng-click="views.back()"></button>
    <h1 class="title">Views</h1>

    <!-- Add button. -->
    <button class="button button-clear button-balanced"
            ng-click="views.editView(null)">
      <i class="icon ion-android-add"></i>
    </button>
  </ion-header-bar>

  <!-- Main area -->
  <ion-content scroll="true">

    <!-- List of views -->
    <ion-list>
      <!-- View -->
      <ion-item class="item" ng-repeat="view in views.allViews" ng-click="views.editView(view)">
        <!-- View title -->
        {{view.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
