#newTaskButton {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 10px 20px 0;
	padding: 0;
}

#newTaskButton::before {
	font-size: 64px;
}

#titleField {
  font-size: 16px;
  font-weight: bold;
}

.big-list-divider {
  font-size: 16px;
  font-weight: bold;
}

#deleteReorderButton::after {
  padding-top: 0;
  margin-top: 0;
}

.unimportant-text {
  font-size: 12px;
}

.custom-checkbox {
  margin-right: 10px;
}
